* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2C3E50;
    color: #FFF;
    font-size: 16px;
}

.fa-solid{
    font-size: 20px;
    margin-left: 3px;
}

html, body {
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

.content {
    overflow-y: scroll; /* Habilita el scroll solo en este elemento */
}



